.react-icon {
    font-size: 36px;
    margin-top: 10px !important;
}

.footer-container {
    background-color: black;
    padding-top: 20px;
    height: 110px;
    display: flex;
    justify-content: space-between;
}

.footer-l {
    background-color: black;
    padding-left: 50px;
}

.footer-r {
    background-color: black;
    padding-right: 50px;
}

#left-text {
    margin-bottom: 20px;
}

.contact-links {
    height: 44px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: black;
}

h3 {
    color: white;
    background-color: black;
    font-size: small;
}

a {
    font-size: smaller;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #18E2E2;
}

a:first-of-type {
    margin-right: 5px;
}



.links {
    text-decoration: none;
}

/* Define a CSS class for the hovered state */
.hovered {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* Additional styling for your icons */
.icons {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
    margin: 5px;    
}
